html{
  height: 100%;
}

body{
  background: -webkit-linear-gradient(#61AFEF, #197FD4); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#61AFEF, #197FD4); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#61AFEF, #197FD4); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#61AFEF, #197FD4); /* Standard syntax */
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.smallCaps{
text-align: center;
font-size: 30px;
font-variant: small-caps;
color: white;
text-shadow: 2px 2px #000000;

}

/***************START NAV***************/
nav{
  height: 100px;
  background: -webkit-linear-gradient(#414141, #262626); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#414141, #262626); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#414141, #262626); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#414141, #262626); /* Standard syntax */
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
}

nav span:hover{
  color: #61AFEF;
  cursor: pointer;
}

#navLinks{
  padding-top: 40px;
  font-size: 25px;
}

.navLinks{
  padding-right: 3%;
  padding-left: 3%;
}


#logo{
  float: right;
  font-size: 2em;
  font-weight: bold;
  display: none;
}
/***************END NAV***************/
/***************START SPLASHSCREEN***************/

#firstWelcome{
  padding-top: 15px;
  text-align: center;
  font-size: 45px;
  font-variant: small-caps;
  color: white;
  text-shadow: 2px 2px #000000;
}

#faceLogin{
  margin-top: 22%;
  background: -webkit-linear-gradient(#414141, #262626);
  background: -o-linear-gradient(#414141, #262626);
  background: -moz-linear-gradient(#414141, #262626);
  background: linear-gradient(#414141, #262626);
  font-variant: small-caps;
  color: white;
  text-align: center;
  font-size: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  bottom: 25px;
  left: 0px;
  right: 0px;
  position: fixed;

}

#status{
  font-size: 25px;
  color: #262626;
  color: white;
}

#userStatus{
  font-size: 15px;
  color: #61AFEF;
}
/***************END SPLASHSCREEN***************/

#secondRow{
  border: solid black;
  width: 100%;
  display: none;
}

#aboutUsArea{
  width: 85%;

  /*float: left;*/
}

#reviewArea{
  width: 85%;

  /*float: right;*/
}

#descriptionArea{
  font-size: 25px;
  font-variant: small-caps;
  color: white;

}
#customerReview{
  margin-top: 10%;
}
#reviewText{
text-align: left;
}
/***************START FIGURES***************/

#albumArea{
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
}

figure{
  cursor: pointer;
  background-color: #F2F2F2;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  border-radius: 5px;
  margin: 2%;
  box-shadow: 10px 10px 5px #888888;
  float: left;
}

figure:hover{
  font-weight: bold;
}

.thumbPictures, .albumPictures{
  height: 300px;
  width: 330px;
  border-radius: 5px;
}

.likeAlbum{
  text-align: center;
  font-variant: small-caps;
}

.albumDesc, .photoDesc{
  text-align: center;
  font-size: 25px;
  font-variant: small-caps;
}

.likeClicker{
  color: #197FD4;
  font-variant: small-caps;
  text-align: center;
}

footer{
  background: -webkit-linear-gradient(#414141, #262626);
  background: -o-linear-gradient(#414141, #262626);
  background: -moz-linear-gradient(#414141, #262626);
  background: linear-gradient(#414141, #262626);
  /*bottom: 0px;
  left: 0px;
  right: 0px;*/
  width: 100%;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 40px;
  font-size: 12px;
  /*position: fixed;*/
  color: white;
}

#plane{
  width: 100px;
  height: 50px;
  position: fixed;
  bottom: 45px;
  z-index: 1;
  animation: loadingPic 20s;
  animation-delay: 2s;
  animation-iteration-count: 1;
}

@keyframes loadingPic{
0% {left:0%; bottom: 45px;}
/*5% {left:15%; bottom: 45px;}
10% {left:20%; bottom: 45px;}*/
/*15% {left:30px;}
20% {left:45px;}
25% {left:67px;}
30% {left:85px;}
35% {left:100px;}
40% {left:120px;}
45% {left:170px;}
50% {left:230px;}
55% {left:300px;}
60% {left:350px; bottom: 50px;}
65% {left:450px; bottom: 65px;}
70% {left:600px; bottom: 80px;}
75% {left:750px; bottom: 100px;}
80% {left:1000px; bottom: 130px;}
85% {left:1200px; bottom: 170px;}
90% {left:1400px; bottom: 210px;}
95% {left:1600px; bottom: 300px;}*/
100% {left: 130%; bottom: 60%}
}


/*@-webkit-keyframes loadingPic{
0% {left:100px;}
10% {left:200px;}
20% {left:300px;}
30% {left:400px;}
40% {left:500px;}
50% {left:600px;}
60% {left:700px;}
70% {left:800px;}
80% {left:850px;}
90% {left:900px;}
100% {left: 1600px;}
}*/

#docText{
  margin-top: 10%;
  margin-left: 5%;
  color: white;
  width: 60%;
}

#docFont{
  font-size: 24px;
  text-align: left;

}

#aboutText{
  margin-top: 10%;
}
#aboutText a{
  text-decoration: none;
  color: white;
}
