html{ height: 100%;}

body{
  background: -webkit-linear-gradient(#61AFEF, #197FD4); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#61AFEF, #197FD4); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#61AFEF, #197FD4); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#61AFEF, #197FD4); /* Standard syntax */
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.smallCaps{
text-align: center;
font-size: 30px;
font-variant: small-caps;
color: white;
text-shadow: 2px 2px #000000;
}

/***************START NAVBAR***************/
nav{
  height: 100px;
  background: -webkit-linear-gradient(#414141, #262626);
  background: -o-linear-gradient(#414141, #262626);
  background: -moz-linear-gradient(#414141, #262626);
  background: linear-gradient(#414141, #262626);
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 30px;
}

nav span:hover{
  color: #61AFEF;
  cursor: pointer;
}

#navLinks{
  padding-top: 40px;
  font-size: 25px;
}

.navLinks{
  padding-right: 3%;
  padding-left: 3%;
}

#feedback, #homeBTN, #logout, #docBTN, #aboutBTN {
  display: none;
  border-right: solid white 1px;
}

#logout{
  float: right;
  margin-right: 35px;
  font-size: 20px;
  border: none;
}

/***************END NAV***************/
/***************START SPLASHSCREEN***************/

#firstWelcome{
  padding-top: 15px;
  font-size: 45px;
  text-shadow: 2px 2px #000000;
  margin-top: 50px;
}

#faceLogin{
  background: -webkit-linear-gradient(#414141, #262626);
  background: -o-linear-gradient(#414141, #262626);
  background: -moz-linear-gradient(#414141, #262626);
  background: linear-gradient(#414141, #262626);
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  bottom: 25px;
  left: 0px;
  right: 0px;
  position: fixed;
}

/*#userStatus{
  font-size: 15px;
  color: #61AFEF;
}*/
/***************END SPLASHSCREEN***************/

#secondRow{ clear: both;}

/*#aboutUsArea{
  width: 50%;
  margin-left: 5%;
  text-align: justify;
  float: left;
}*/

#reviewArea{
  margin-top: 10%;
  margin-bottom: 10%;
  display: none;
}


/*#customerReview{
  margin-top: 15%;

}*/


/***************START FIGURES***************/

#albumArea{
  margin-top: 8%;
  margin-bottom: 5%;
  display: block;
  margin-left: 8%;
  margin-right: auto;
  width: 90%;
}

figure{
  cursor: pointer;
  background-color: #F2F2F2;
  padding: 35px;
  padding-bottom: 0px;
  border-radius: 5px;
  margin-left: 3%;
  box-shadow: 17px 32px 100px -4px rgba(0,0,0,0.75);
  float: left;
  height: 445px;
}

.thumbPictures, .albumPictures{
  height: 310px;
  width: 340px;
  border-radius: 5px;
}

.albumDesc, .photoDesc{
  text-align: center;
  font-variant: small-caps;
  font-size: 25px;
  width: 300px;
}

.likeClicker{
  width: 300px;
  color: #197FD4;
  font-size: 18px;
  font-variant: small-caps;
  text-align: center;
}


footer{
  clear: both;
  background: -webkit-linear-gradient(#414141, #262626);
  background: -o-linear-gradient(#414141, #262626);
  background: -moz-linear-gradient(#414141, #262626);
  background: linear-gradient(#414141, #262626);
  padding-top: 15px;
  font-size: 20px;
  color: white;
  padding: 25px;
  display: none;
  margin-top: 10%;
}

#descriptionArea{
  font-variant: small-caps;
  color: white;
}

/**********SUB SITES**********/

#docText{
  margin-top: 10%;
  margin-left: 5%;
  margin-bottom: 10%;
  color: white;
  width: 90%;
}

#documentationText{
  text-align: justify;
}

#docFont{
  font-size: 24px;
  text-align: left;
}

#aboutText{
  margin-top: 10%;
  text-align: justify;
}
#aboutText a{
  color: white;
}

#aboutText a:hover{
  color: black;
  text-shadow: none;
}

/**********SPLASH SCREEN**********/

#plane{
  width: 100px;
  height: 50px;
  position: fixed;
  bottom: 45px;
  z-index: 1;
  animation: loadingPic 20s;
  animation-delay: 2s;
  animation-iteration-count: 1;
}

@keyframes loadingPic{
0% {left:0%; bottom: 45px;}
100% {left: 130%; bottom: 60%}
}

@-webkit-keyframes loadingPic{
  0% {left:0%; bottom: 45px;}
  100% {left: 130%; bottom: 60%}
  }
