body{ background-color: #61AFEF; }

nav{
  height: 100px;
  background: -webkit-linear-gradient(#414141, #262626); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#414141, #262626); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#414141, #262626); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#414141, #262626); /* Standard syntax */
  font-size: 25px;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
}

nav a:link { text-decoration: none; color: white;}
nav a:visited {text-decoration: none; color: white;}
nav a:hover { text-decoration: none; color: #61AFEF; cursor: pointer;}
nav a:active {text-decoration: underline;}

#navLinks{
  padding-top: 35px;
  display: none;
}

.navLinks{
  padding-right: 3%;
  padding-left: 3%;
}

#welcomeLogo{
  color: white;
  font-size: 600%;
  position: absolute;
  margin-left: 60%;
  text-shadow: 2px 2px #000000;
  border: solid black;
}

#welcomeText{
}
#logo{
  float: right;
}

#faceLogin{
  float: left;
  margin-top: 22%;
}

#status{
  font-size: 25px;
  color: #262626;
  color: white;
}

#userStatus{
  font-size: 15px;
  color: #61AFEF;
}

#welcomeHeader{

}

#contentArea{
  border: solid green;
}

#reviewArea{
  border: solid yellow;
  margin-left: 4%;
  float: right;
  width: 10%;
  height: 10%;
  display: none;
}


#albumArea{
  margin-top: 5%;
  margin-bottom: 5%;
  width: 75%;
}

.facebookFigures, .photoAlbum{
  /*border: solid red;*/
  background-color: #F2F2F2;
  padding: 10px;
  float: left;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #888888;
}

.thumbPictures, .albumPictures{
  /*border: solid blue;*/
  height: 220px;
  width: 250px;
  border-radius: 5px;
}

.photoAlbum{
}

.photoDesc{
  font-family:
}

/*#plane{
  width: 100px;
  height: 50px;
  position: fixed;
  bottom: 45px;
  z-index: 1;
  animation: loadingPic 1s;
  animation-iteration-count: 1;
}

@keyframes loadingPic{
0% {left:10px;}
5% {left:15px;}
10% {left:20px;}
15% {left:30px;}
20% {left:40px;}
25% {left:50px;}
30% {left:60px;}
35% {left:100px;}
40% {left:120px;}
45% {left:170px;}
50% {left:230px;}
55% {left:300px;}
60% {left:350px; bottom: 50px;}
65% {left:450px; bottom: 65px;}
70% {left:600px; bottom: 80px;}
75% {left:750px; bottom: 100px;}
80% {left:1000px; bottom: 130px;}
85% {left:1200px; bottom: 170px;}
90% {left:1400px; bottom: 220px;}
95% {left:1600px; bottom: 440px;}
100% {left: 1800px; bottom: 650px;}
}*/


/*@-webkit-keyframes loadingPic{
0% {left:100px;}
10% {left:200px;}
20% {left:300px;}
30% {left:400px;}
40% {left:500px;}
50% {left:600px;}
60% {left:700px;}
70% {left:800px;}
80% {left:850px;}
90% {left:900px;}
100% {left: 1600px;}
}*/

footer{
  background: -webkit-linear-gradient(#414141, #262626);
  background: -o-linear-gradient(#414141, #262626);
  background: -moz-linear-gradient(#414141, #262626);
  background: linear-gradient(#414141, #262626);
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 40px;
  font-size: 12px;
  position: fixed;
  color: white;
}
